@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans+Condensed);
body { font-family: 'Fira Sans Condensed'; }
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

td, th {
  border: solid 0px;
  padding: 10px;
}

.remark-code, .remark-inline-code {
  font-family: 'Fira Mono', monospace;
  font-variant-ligatures: contextual;
}

.inverse {
  background: #272822;
  color: #777872;
  text-shadow: 0 0 20px #333;
}

.inverse h1, .inverse h2 {
  color: #f3f3f3;
  line-height: 0.8em;
}

.logo img {
  width: 25%;
  vertical-align: middle;
}
.absolute {
  position: absolute;
  padding: 1em 4em 1em 4em;
}
.col-double {
  width: 70%;
}

.good ul, .bad ul {
  list-style: none;
  padding: 0px;
}

.good ul li:before
{
  content: '✔';
  color: green;
  margin: 0 1em;
}

.bad ul li:before
{
  content: '✖';
  color: red;
  margin: 0 1em;
}

.container {
  display: flex;
}

.container > p {
  width: 30%;
  margin: auto;
}

.container > p > img {
  width: 100%;
  height: 100%;
}