@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans+Condensed);
body { font-family: 'Fira Sans Condensed'; }
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}

table {
  border-collapse: collapse;
}

td, th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.remark-code, .remark-inline-code {
  font-family: 'Fira Mono', monospace;
  font-variant-ligatures: contextual;
  background: #F0F0F0;
}

.inverse {
  background: #272822;
  color: #777872;
  text-shadow: 0 0 20px #333;
}

.inverse h1, .inverse h2 {
  color: #f3f3f3;
  line-height: 0.8em;
}

.logo img {
  width: 25%;
  vertical-align: middle;
}

.logo_small img {
  height: 1em;
  vertical-align: middle;
}

.absolute {
  position: absolute;
  padding: 1em 4em 1em 4em;
}
.col-double {
  width: 70%;
}

.topmargined {
  margin-top: 6em;
}

.good ul, .bad ul, .arrow ul, .star ul {
  list-style: none;
  padding: 0px;
}

.good ul li:before
{
  content: '✔';
  color: green;
  margin: 0 1em;
}

.bad ul li:before
{
  content: '✖';
  color: red;
  margin: 0 1em;
}

.arrow ul li:before
{
  content: '⇛';
  margin: 0 1em;
}

.star ul li:before
{
  content: '⭐';
  margin: 0 1em;
}

.container {
  display: flex;
}

.container > pre {
  width: 50%;
  margin: 0 1em;
}

.container > p {
  width: 30%;
  margin: auto;
}

.container > p > img {
  width: 100%;
  height: 100%;
}

.grid {
  display: grid;
}

.grid > div {
  margin: 0 1em;
}

.g_col1 {
  grid-column: 1;
}

.g_col2 {
  grid-column: 2;
}

.g_row1 {
  grid-row: 1;
}

.g_row2 {
  grid-row: 2;
}
